.movie-card{
    width: 300px;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow: 0 0 3px black;
    margin-top: 40px;
}

.movie-img{
    width: 100%;
    object-fit: cover;
}

h3{
    font-size: 18px;
}

h2{
    font-size: 16px;
}